<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

<select id="boardList" resultType="com.kh.app.vo.ListVo">
      
 	  SELECT NO,TITLE,ENROLLDATE,ID,CONTENT FROM LIST ORDER BY NO DESC  
       
      
  </select>
  
  <select id="selectCount" resultType="int">
      SELECT COUNT(*) FROM LIST
  </select>
  
  <insert id="boardWrite">
          INSERT INTO LIST (NO,ID,TITLE,CONTENT,ENROLLDATE) 
        VALUES(SEQ_LIST_NO.NEXTVAL,#{id},#{title},
        #{content}, SYSDATE)
  </insert>
  
  <select id="selectOne" resultType="com.kh.app.vo.ListVo">
  	SELECT ID, TITLE, CONTENT FROM LIST WHERE NO = #{no}
  </select>
  
  <select id="boardListRelated" parameterType="java.util.Map" resultType="com.kh.app.vo.ListVo">
  SELECT * FROM LIST
  WHERE 
  <foreach collection="wordCount" index="word" separator="OR">
      CONTENT LIKE '%' || #{word} || '%'
  </foreach>
  ORDER BY NO DESC FETCH FIRST 5 ROWS ONLY
</select>


<select id="selectBoard" parameterType="java.lang.String" resultType="com.kh.app.vo.ListVo">
    SELECT * FROM LIST WHERE NO =#{no}
</select>

<select id="getBoard" resultType="com.kh.app.vo.ListVo">
  	SELECT ID, TITLE, CONTENT FROM LIST WHERE NO = #{no}
  </select>

</mapper>
